* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-color {
    color: #FD6E0A;
}

.btn-main {
    background: #FD6E0A;
    border-radius: 5px;
    color: #fff;
    padding: 18px 35px;
    /* border: none; */
    font-weight: 700;
    border: solid 1px #FD6E0A;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header & navigation  styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 226px;

}

.logo {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 50px;

}

.bg {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Hader banner style */
.header-banner {
    padding-top: 160px;
    margin: 0px 226px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}

.banner-title {
    font-weight: 800;
    color: #181818;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.btn-contact {
    background: #fff;
    border: solid 1px #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
}


/* .banner-img {
    clear: right;
    float: right;
} */


.about {
    margin-top: 130px;
    padding: 130px 155px;
    background-color: #FFF8F3;
    border-radius: 10px;

}

.section-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;

}

.section-description {
    font-size: 18px;
    color: #757575;
    text-align: justify;
    margin-bottom: 50px;

}

.about-info-data {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.info-title {
    color: #757575;
    font-size: 20px;

}

.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 600;
}
/* gdsdg */
/* Work Section Style */
.work {
    margin-top: 130px;

    border-radius: 10px;
}

.work-description {
    padding: 0 155px;

}

.skills {
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    width: 260px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0px 20px;
}

.skill-description {
    color: #757575;

}

/* Resume Section Style */
.resume {
    display: flex;
    margin-top: 80px;
    gap: 70px;
}

.degree h2 {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: ;
}

.degree-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 30px;

}

.degree-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin: 10px 0 20px;

}

.degree-description {
    color: #757575;
    /* text-align: justify; */
    border-bottom: 1px solid #D1D1D1;
    padding: 0 10px 30px 0;
}

.resume-btn {
    margin: 50px 0px 115px 0px;
    text-align: center;

}

.border-none {
    border: none;
}

.contact {
    display: flex;
    gap: 117px;
    padding: 130px 0px;
    background: #FFF8F3;

}

.contact-bg {
    margin: 0 auto;
}

.contact .section-title {
    text-align: left;
}

.contact img {
    margin-right: 24px;
}

input[type="text"],
[type="email"],
textarea {
    height: 64;
    padding: 18px 0 18px 30px;
    width: 100%;
    border: none;
    margin-bottom: 25px;
    color: #757575;
    font-size: 16px;

}

textarea {
    height: 118px;
}